@use "../utilities/" as *;
@use "../base/" as *;

.form {
  max-width: 530px;
  display: block;
  margin: 0 auto;

  @include for-phone {
    padding-left: 30px;
    padding-right: 30px;
  }

  &__question {
    font-family: $family-primary;
    font-size: 30px;
    line-height: 1.13;
    text-align: left;
    color: $color-red;

    @include for-phone {
      font-size: 26px;
      line-height: 29px;
    }

    &--textarea {
      font-family: $family-primary;
      font-size: 30px;
      line-height: 1.13;
      text-align: left;
      color: $color-red;
      margin: 15px 0;
    }
  }

  hr {
    width: 100%;
    height: 7px;
    background-color: $color-yellow;
    margin-top: 7px;
    margin-bottom: 23px;
  }

  h4 {
    font-family: $family-secondary;
    font-size: 20px;
    line-height: 1.25;
    color: $color-red;

    @include for-phone {
      font-size: 16px;
      line-height: 25px;
    }
  }

  &__text {
    font-family: $family-secondary;
    font-size: 16px;
    line-height: 1.75;
    color: $color-grey;
    margin-top: 80px;

    @include for-phone {
      margin-top: 70px;
    }

    span {
      font-weight: bold;
    }

    .date {
      margin-top: 15px;
    }

    a {
      color: $color-red;
      text-decoration: underline;
    }

    a:hover {
      color: $color-red-dark;
      text-decoration: underline;
    }
  }

  &__gdpr {
    font-family: $family-secondary;
    font-size: 14px;
    line-height: 1.79;
    color: $color-grey;

    a {
      color: $color-red;
      text-decoration: underline;
    }

    a:hover {
      color: $color-red-dark;
      text-decoration: underline;
    }
  }
}

.pitanje_1__wrapper,
.pitanje_2__wrapper,
.pitanje_3__wrapper,
.pitanje_4__wrapper,
.pitanje_5__wrapper,
.pitanje_6__wrapper {
  margin-top: 80px;

  @include for-phone {
    margin-top: 70px;
  }
}
